/* Custom styling for the logo placement */
.gerrit-jumbotron-logo {
  max-height: 180px;
  margin-bottom: 20px;
}

/* Modern Header Font (Google Montserrat) */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}